.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.drop {
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s;

    &:hover {
        border-radius: 50%;

        &::before {
            left: 100px;
        }

        &::after {
            left: 95px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 40px;
        left: 85px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(#ffff, 0.9);
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
            inset 20px 20px 20px rgba(0, 0, 0, 0.05);
        transition: 0.5s;
    }

    &::after {
        content: '';
        position: absolute;
        top: 80px;
        left: 100px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(#ffff, 0.9);
        box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.05),
            inset 20px 20px 20px rgba(0, 0, 0, 0.05);
        transition: 0.5s;
    }

}



.input-box input {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    border: none;
    outline: none;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
        15px 15px 10px rgba(0, 0, 0, 0.05),
        15px 10px 15px rgba(0, 0, 0, 0.025),
        inset -2px -5px 5px rgba(161, 55, 55, 0.027);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.35s;
    color: red;

    &:hover {
        box-shadow: inset 15px 15px 10px rgba(218, 213, 213, 0.5);
       
    }

    &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 50%;
        width: 65%;
        height: 5px;
        background: rgba(0, 0, 0, 0.1);
    }
}

